#editor {
    font-size: 16px;
    height: 100%;
}

#output {
    font-size: 16px;
    color: white;
    background-color: black;
    height: 100%;
    width: 50vw;
    overflow-y: scroll;
    padding-left: 10px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}