#code {
    font-size: 16px;
    resize: none;
    height: 100%;
    width: 99%;
    margin-top: 5px;
}

#output {
    font-size: 16px;
    color: white;
    background-color: black;
    height: 100%;
    width: 100%;
}